<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}List{% endblock %}</title>
</head>
<body>
    {% block content %}
        {% for item in iceCreams %}
            <h1>Названеи: {{ item.name }}</h1>
            <h4>Описание: {{ item.description }}</h4>
            <h4>Цена: {{ item.price }}</h4>
            <h4>Количество: {{ item.quantity }}</h4>
            <h4>Дата изготовления: {{ item.create_at }}</h4>
        {% endfor %}
        <a href="add">Добавить</a>Ы
    {% endblock %}
</body>
</html>